<% provide(:title, @org_type_editor.first_name)%>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
  <%= "#{@org_type_editor.first_name} #{@org_type_editor.last_name}"%>      
      </h1>
    </section>
  </aside>
</div>