<% if @editor.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@editor.errors.count, "error") %>.
      Errors are shown below.
    </div>
  </div>
<% end %>