<% provide(:title, @editor.first_name)%>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
  <%= "#{@editor.first_name} #{@editor.last_name}"%>      
      </h1>
    </section>
  </aside>
</div>